<%inherit file="datamagic.html" />
<%!
from utils import AsyncWebData
from busstop import BusStop
myBusStops = { "home": BusStop("8143"),
               "work": [BusStop("7074"), BusStop("7093")] }
%>
<% AsyncWebData.fetch(myBusStops["home"], myBusStops["work"]) %>
${self.block()}

<%def name="block()">
  <%parent:textblock colour="green">
    ${busesFrom("work")}
    ${busesFrom("home")}
    <a class="maxxlink" href="http://www.maxx.co.nz">maxx</a>
  </%parent:textblock>
</%def>

<%def name="busesFrom(where)">
  <div class="busesFrom">
    <div class="heading">
      <b>Buses from ${where}</b>
    </div>
    <%
      busStops = myBusStops.get(where, [])
      if not isinstance(busStops, (list, tuple)):
        busStops = [busStops]
      maxResults = 4
    %>
    %for busStop in busStops:
      ${busTimeTable(busStop, maxResults)}
      <% maxResults = 2 %>
    %endfor
  </div>
</%def>

<%def name="busTimeTable(busStop, maxResults=4)">
  %if busStop.buses:
    <div class="busTimeTable">
      <div class="address" title="${busStop.stopNumber}">
        ${busStop.address} (${busStop.accuracy})
      </div>
      <table cellspacing="0" class="inset"title="As at ${busStop.asAt}">
        %for bus in busStop.buses[:maxResults]:
          <tr class="${bus.road}">
            <td class="route">
              <a href="http://maxx.co.nz/timetables.html?query=timetable&routeText=${bus.route}" target="_blank">${bus.route}</a>
            </td>
            <td class="destination">${bus.destination}</td>
            <td class="due" title="${bus.timeDue}">${bus.dueIn}</td>
          </tr>
        %endfor
      </table>
    </div>
  %endif
</%def>

