<%inherit file="datamagic.html" />
${self.block()}

<%def name="block()">
  <%parent:textblock colour="flax">
    <strong>Contact Details:</strong><br/>
    <img title="Email" src="/datamagic/email.png" alt="Email" 
         width="24" height="24"> david@linuxsoftware.co.nz<br/>
    <img title="GTalk" src="/datamagic/google-talk.png" alt="GTalk" 
         width="22" height="22"> djm6809<br/>
    <img title="Telephone" src="/datamagic/telephone.png" alt="Phone" 
         width="23" height="22"> 5504684<br/>
  </%parent:textblock>
</%def>
