<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>David's Portal</title>
    <meta name="robots" content="noindex,nofollow,noarchive" /> 
    <link rel="stylesheet" type="text/css" href="/datamagic/style.css" media="screen" />
  </head>
  <body>
    %if self is not local:
      ${self.body()}
    %else:
      <p>Nothing to see here.  Move along.</p>
    %endif
  </body>
</html>

<%def name="block(colour='', title='')">
<div class="outer">
  <div class="${colour} block" title="${title}">
    ${caller.body()}
    <div class="topleft corner"></div>
    <div class="topright corner"></div>
    <div class="bottomleft corner"></div>
    <div class="bottomright corner"></div>
  </div>
</div>
</%def>

<%def name="textblock(colour='', title='')">
<%local:block colour="${colour}" title="${title}">
<div class="inner">
  ${caller.body()}
</div>
</%local:block>
</%def>

